* {
  text-align: center;
}

.wrapper{
  position: relative;
  left: 50%;
  width: 100%;
  margin-top: 20px; 
  margin-left: -50%;
}

body {
  background: #1D1F21;
  color: #C5C8C6
  }

a {
  color: #79BEB7
}

h1{
  font-size: 175%;
}

.input{
  margin-top: 5%;
}

.button {
  color: black;
}

.headerText{
  color: #C5C8C6;
}

#result{
    color: #C0A7C7
}

#hrLine{
  color: #C5C8C6;
  background: #C5C8C6;
}

footer{
  margin-top: 25%; 
}